@charset "UTF-8";
/*********************************
	A MODERN CSS RESET
*********************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*********************************
	VARIABLES SET
*********************************/
/*------ FONT -------*/
/*------ COLOR -------*/
/*------ LAYOUT -------*/
/*********************************
	FUNCTION SET
*********************************/
/*********************************
	MIXIN SET
*********************************/
/*********************************
	BASE SET
*********************************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "游ゴシック", "Yu Gothic";
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

img {
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/*------ wrapper -------*/
.wrapper {
  margin: auto;
  width: min(92%, 860px);
}

/*------ inline-block -------*/
.ib {
  display: inline-block;
}

/*------ hX -------*/
h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}
h2::after {
  background: #000;
  bottom: -20px;
  display: inline-block;
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 80px;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.84rem;
}

/*------ button -------*/
.btn {
  display: block;
}
.btn > a {
  display: block;
}
.btn:hover {
  opacity: 0.8;
}

/*------ ふきだし -------*/
.arrow-box {
  position: relative;
  width: min(100%, 514px);
  height: auto;
  background: #E9F1FB;
  padding: 20px;
  color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.arrow-box:after {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(233, 241, 251, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 12px;
  border-right-width: 12px;
  margin-left: -12px;
  border-top-color: #E9F1FB;
  top: 100%;
  left: 50%;
}

/*------ やじるし -------*/
.arrow01 {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 1rem;
}

/*------ inview-js -------*/
.js-fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s, transform 0.8s;
}
.js-fadeUp.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.js-fadeLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.8s, transform 0.8s;
}
.js-fadeLeft.is-inview {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s;
}

.js-fadeRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.8s, transform 0.8s;
}
.js-fadeRight.is-inview {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s;
}

/*********************************
	MAIN SET
*********************************/
/*--------------------------------
	HEADER SET
--------------------------------*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  height: 100;
  padding-left: 25px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/*---------- ハンバーガーボタン ----------*/
.openbtn {
  position: relative;
  background: #FF2A2A;
  cursor: pointer;
  width: 75px;
  height: 75px;
}

/*ボタン内側*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 20px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 25px;
}

.openbtn span:nth-of-type(2) {
  top: 35px;
}

.openbtn span:nth-of-type(3) {
  top: 45px;
}

.openbtn.active span:nth-of-type(1) {
  top: 30px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 42px;
  left: 20px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

.open .header-nav {
  transform: translate(-100%, 0);
}

.header-nav {
  align-content: start;
  background: #FF2A2A;
  color: #fff;
  display: grid;
  font-weight: bold;
  gap: 40px;
  justify-items: center;
  inset: 0 -100% 0 100%;
  position: fixed;
  transition: transform 0.3s;
  text-align: center;
  z-index: 100;
}
.header-nav .nav-header {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding-left: 25px;
  width: 100%;
}
.header-nav .header-logo {
  justify-self: left;
}
.header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-nav .header-btn {
  width: 250px;
  border: 1px solid #fff;
  padding: 15px 0;
  position: relative;
}
.header-nav .header-btn::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: "　　";
  width: 250px;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -8px;
}

/*--------------------------------
	HERO SET
--------------------------------*/
.hero-content {
  padding: 0 4%;
}

.slider {
  height: 300px;
  margin-bottom: 10px;
}
.slider img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider li::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

.hero-content-title {
  color: #333333;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 4.7rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #fff;
}

.hero-content-btn {
  background: #FF0033;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 #7A051C;
  color: #fff;
  font-size: 2.4rem;
  padding: 15px 0;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 300px;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.slider-item01 {
  background: url(/img/mainvisual1.jpg);
}

.slider-item02 {
  background: url(/img/mainvisual2.jpg);
}

.slider-item03 {
  background: url(/img/mainvisual3.jpg);
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 300px;
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*--------------------------------
	REASON SET
--------------------------------*/
.reason {
  padding-top: 80px;
}

.reason-list {
  background-color: #FF2A2A;
  display: grid;
  gap: 40px;
  padding: 40px 0;
}
.reason-list li[class^=reason-list-item] {
  align-items: center;
  background: #fff;
  border-radius: 0 20px 20px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0px 30px;
  grid-template-areas: "box1 box2" "box1 box3";
  padding: clamp(1.8rem, 2.344vw, 3.2rem) clamp(2.2rem, 2.865vw, 3.9rem);
  width: min(90%, 100vh);
}
.reason-list li[class^=reason-list-item]:nth-child(even) {
  border-radius: 20px 0 0 20px;
  justify-self: end;
}
.reason-list li[class^=reason-list-item] img {
  grid-area: box1;
}
.reason-list li[class^=reason-list-item] h3 {
  grid-area: box2;
  color: #FF2A2A;
}
.reason-list li[class^=reason-list-item] p {
  grid-area: box3;
  font-size: 1.8rem;
}

/*--------------------------------
	REVIEW SET
--------------------------------*/
.review {
  padding: 80px 0;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: center;
  margin: 0 auto;
}
.review-list li figure {
  display: grid;
  justify-items: center;
}
.review-list li figure > p {
  margin-bottom: 30px;
  text-align: left;
}
.review-list li figure img {
  background: #ccc;
  clip-path: circle(50%);
  display: inline-block;
  height: 120px;
  margin-bottom: 10px;
  width: 120px;
}
.review-list li figure figcaption {
  font-size: 1.2rem;
}

/*--------------------------------
	OUTLINE SET
--------------------------------*/
.outline {
  animation: fall 10s infinite linear;
  background: url(/img/bg.gif) repeat;
  background-size: contain;
  padding: 60px 0;
  text-align: center;
}
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

.outline-block {
  display: grid;
  gap: 32px;
}
.outline-block li {
  background: #fff;
  border-radius: 20px;
  padding: 4vw;
  text-align: center;
}
.outline-block li h3 {
  margin-bottom: 1.5rem;
}
.outline-block li > .en {
  display: block;
  font-weight: bold;
  margin-bottom: 3rem;
}
.outline-block li p {
  text-align: left;
}

/*--------------------------------
	PROMOTION SET
--------------------------------*/
.promotion-inner {
  padding: 80px 0;
  text-align: center;
}
.promotion-inner p {
  font-weight: lighter;
  margin-bottom: 40px;
}
.promotion-inner .promotion-btn {
  background: #FF2A2A;
  border-radius: 50px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  padding: 15px 0;
  width: 100%;
}

/*--------------------------------
	FOOTER SET
--------------------------------*/
.footer {
  background: #E8E8E8;
}

.footer-inner {
  padding-top: 60px;
}

.footer-nav-main {
  display: grid;
  gap: 5vw 3vw;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}
.footer-nav-main > li > a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-nav-sub > li {
  margin-left: 1em;
}
.footer-nav-sub > li > a {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.copyright {
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
}

/*********************************
	RESPONSIVE SET
*********************************/
/*--------------------------------
	MIN 900px
--------------------------------*/
@media screen and (min-width: 900px) {
  /*---------- HERO SET ----------*/
  .hero {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 720px;
    width: 100%;
  }

  .slider {
    height: inherit;
    width: 70%;
  }
  .slider .slider-item {
    height: 720px;
  }

  .hero-content {
    width: max(40%, 480px);
    z-index: 10;
    margin-right: -250px;
  }

  .hero-content-title {
    font-size: 4.4rem;
    line-height: 7.4rem;
  }

  /*---------- REVIEW SET ----------*/
  .review-list li figure {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0px 30px;
    grid-template-areas: "box1 box3" "box2 box3";
  }
  .review-list li figure img {
    grid-area: box1;
  }
  .review-list li figure figcaption {
    grid-area: box2;
  }
  .review-list li figure p {
    grid-area: box3;
  }
  .review-list li figure:nth-child(even) {
    grid-template-areas: "box3 box1" "box3 box2";
  }
  .review-list li figure .arrow-box:after {
    border-color: rgba(233, 241, 251, 0);
    margin-top: -10px;
    border-right-color: #E9F1FB;
    top: revert;
    left: revert;
    right: 100%;
    bottom: 15%;
  }
  .review-list li figure p {
    justify-self: start;
  }
  .review-list li:nth-child(even) figure {
    grid-template-areas: "box3 box1" "box3 box2";
  }
  .review-list li:nth-child(even) figure .arrow-box:after {
    border-color: rgba(233, 241, 251, 0);
    border-left-color: #E9F1FB;
    left: 102.4%;
  }
  .review-list li:nth-child(even) figure p {
    justify-self: end;
  }

  /*---------- OUTLINE SET ----------*/
  .outline-block {
    grid-template-columns: repeat(2, 1fr);
  }

  /*---------- FOOTER SET ----------*/
  .footer-nav-main {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
