/*********************************
	BASE SET
*********************************/
@use "global/variables" as v;
@use "function" as f;
@use "mixin" as m;

html {
	font-size: 62.5%;
}

body {
	color: v.$text-main-color;
	font-size: 1.6rem;
	font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
}

img {
	height: auto;
}

ul,ol {
	margin: 0;
	padding: 0;
}

/*------ wrapper -------*/
.wrapper {
	margin: auto;
	width: min(92%, 1166px);
}

/*------ button -------*/

.btn {
	display: block;

	> a {
		display: block;
	}

	&:hover {
		opacity: 0.8;
	}

}