/*********************************
	RESPONSIVE SET
*********************************/
@use "global/variables" as v;
@use "function" as f;
@use "mixin" as m;

/*--------------------------------
	MIN 897px
--------------------------------*/
@media screen and (min-width: 897px) {

	/*---------- HEADER SET ----------*/
	.header {
		border-bottom: 1px solid #c3c3c3;
		padding: 36px 0 26px;
	}

	/*---------- ITEM SET ----------*/
	.item {
		display: flex;
		gap: 60px;
		margin: 34px auto;
		width: min(92%, 800px);

		img {
			width: 50%;
		}

	}


}
